#container-modal {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 590px;
  height: 362px;
  display: flex;
  align-items: center;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > div {
      display: flex;
      align-items: center;
    }

    h1 {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      color: #29292e;
    }

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #737380;
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}
